html, body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #444444 , black);
	color: white;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}