.btn {
    background-color: black; /* Green */
    border: 1px solid white;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
		border-radius: 8px;
        font-family: 'Montserrat', sans-serif;

}

.btn:hover {
    background-color: white;
    color: black;
}

.btn-right{
	float: right;
}

.div_padding{
    padding-top: 10px;
    padding-bottom: 10px;
}