.flex{
  display: flex;
}

.metade{
	justify-content: center;
	left: 50%;
	width: 50%;
  	padding-left: 1%;
  	padding-right: 1%;
}

.metade-direita{
  margin-left: 0.6%;
}

.metade-esquerda{
  margin-right: 0.6%;
}

.container{
	margin: 8px;
}
