.flex{
  display: flex;
}

.metade{
	justify-content: center;
	left: 50%;
	width: 50%;
  	padding-left: 1%;
  	padding-right: 1%;
}

.metade-direita{
  margin-left: 0.6%;
}

.metade-esquerda{
  margin-right: 0.6%;
}

.container{
	background-color: grey;
	border-radius: 8px;
	width: 50%;
	margin-top: 7%;
	transform: translateX(50%);
	padding-top: 10px;
	padding-bottom: 10px;
}

div.container > p{
	transform: translateX(10%);
}

div.container > h2{
	padding: 5px;
	text-align: center;
}

div.container > button{
	transform: translateX(600%);
}

.btn-container{
	transform: translateX(550%);
}

.divzona{
	background-image: url(foto-login.jpg);
	width: auto;
	height: 94vh;
	overflow: hidden;
	background-size: 100%;
	background-repeat: no-repeat;

}

.direita-login{
	transform: translateX(2%);
}

.center{
	transform: translateX(25%);
}