footer {
 width: 100%;
 background: black;
 color: white;
 display: flex;
 position: absolute;  /* posicionamento absoluto, colado lá em baixo */
 bottom: 0;
 height: var(--footer-height);  /* altura do footer foi fixada */
}

footer p{
	padding: 5px;
	margin-left:auto;
  margin-right:auto;
}