.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #181818;
    font-family: 'Montserrat', sans-serif;
}

.li {
    float: left;
}

.li .a {
    border: 2px #181818;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.li .a:hover {
    background-color: white;
    color: black;
}



.sair{
  float: right;
}

header{
    background-color: black;
    width: 100%
}

header li a{
    transition-duration: 0.2s;
    border-radius: 8px;
    color: white;
}

header li:hover > a, header li:hover >  a span a {
    background-color: white;
    color: black;
}

a{
    text-decoration: none;
}

header div button{
    transition-duration: 0.2s;
    border-radius: 8px;
    color: white;
    background-color: black;
}

header div button:hover{
    color: black;
    background-color: white;
}

header p{
    margin: 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header ul{
	background-color: black;
	border-radius: 8px;
}


