
ul{
  list-style-type: none;
}

ul.striped-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    transform: translate(45%,0%);
}
ul.striped-list > li {
    border-bottom: 1px solid gold;
    padding: 6px;
}
ul.striped-list > li:nth-of-type(odd) {
    background-color: none ;
}
ul.striped-list > li:last-child {
    border-bottom: none;
}

.div-lista{
    padding: 10px 0px;
    font-size: 16px;
    margin: 4px 2px;
    display: inline-flex;
    width: auto;
}

.lista-right{
    float: right;
}