table td span{
  color: rgb(253, 0, 0);
  border-radius: 8px;
}

table td.p-selection-column:hover > input{
  background-color: grey;
}

div.p-checkbox-box{
  background-color: white;
}

div.p-checkbox-box:hover{
  background-color: grey;
}


.p-datatable table {
    width: 80%;
    transform: translateX(15%);
    background-color: rgba(255,215,0, .5);
    border-radius: 8px;
}

.form-centralizaco{
  transform: translate(37%, 20%);
  padding-bottom: 40%;
}

.div-flex{
  display: inline-flex;
}

.p{
  padding-left: 10%;
}

table{
  width: 40%;
    transform: translateX(15%);
    background-color: rgba(255,215,0, .5);
    border-radius: 8px;
    border-color: black;
    border: 3px;
}

table td{
  transform: translateX(20%);
}
